<div>
  <div class="tour">
    <div>
      <div>
        <p>Eyebrow</p>
        <h3>Tour heading.</h3>
      </div>
    </div>
    <div>
      <div>Body copy for the first row. Each row pairs its text with an image.</div>
      <div>
        <picture><img alt="" src="./media_placeholder.svg" width="800" height="600"></picture>
      </div>
    </div>
    <div>
      <div>Body copy for the second row.</div>
      <div>
        <picture><img alt="" src="./media_placeholder.svg" width="800" height="600"></picture>
      </div>
    </div>
    <div>
      <div>
        <p><picture><img alt="" src="./media_icon.svg" width="32" height="32"></picture></p>
        <p><a href="https://www.example.com/">Call to action</a></p>
      </div>
    </div>
  </div>
</div>
